<p id="notice"><%= notice %></p>
<!--
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% end %>
-->




    <%= render partial: "layouts/menu" %>
<div id="masonry-container">

       <% @classifieds.each do |classified| %>
         <div class="box col2  hvr-grow">
      
         <%= link_to image_tag(classified.images[0].url), classified_path(classified)  %>
     
       
          <div class="card-body card-body-cascade text-center">

          <!-- Description -->
          <p class="card-text"><%= classified.title %></p>
           <p class="card-meta"><small><%= classified.location %></small></p>
          <!-- Card footer -->
    
        </div>
         </div>
 <% end %>




<br>