<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_classified_path(@classified) %> |
<%= link_to 'Back', classifieds_path %>


<div class="container-fluid">
<h1><%= @classified.title %></h1>
<div id="masonry-container">

       <% @classified.images.each do |image| %>
         <div class="box col2">
      
         <%=image_tag(image.url)  %>
     

         </div>
 <% end %>
</div>

</div>


<p>
<%= @classified.description %>
</p>
<p>
<%= @user.username %>
</p>

    <tr>
 
      <td><%= @user.username %></td>
      <td>
        <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                    "data-sid" => current_user.id, "data-rip" => @user.id %>
      </td>
    </tr>

